/* GLOBAL CSS */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
h4,
h5,
h6,
h1,
h2,
h3 {
  margin-top: 0;
}
ul,
ol {
  margin: 0;
}
p {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #666;
  opacity: 0.8;
  letter-spacing: 0.5px;
  font-family: "Mukta", sans-serif;
}
html,
body {
  font-family: "Exo", sans-serif;
  font-size: 100%;
  background: #fff;
}
* {
  box-sizing: border-box;
}
h3 {
  margin: 0;
  padding: 0;
  color: #3f3a64;
  letter-spacing: 0.5px;
}
a.title-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
  display: inline-block;
  color: #3f3a64;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #844604;
}
.btn-orange {
  color: #fff;
  background-color: #ce6d06;
  border-color: #ce6d06;
  border-radius: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 9px 40px;
  cursor: pointer;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in;
}
.btn-orange:hover {
  color: #212529;
}
clear {
  clear: both;
}
/* END GLOBAL CSS */
/* HEADER CSS */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  transition: all 0.4s linear;
}

.header .navbar-nav .nav-item:hover::after {
  width: 100%;
}
/* END HEADER CSS */

/* CAROUSEL CSS */
.carousel-item__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
}
.carousel-item__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item__caption p {
  font-size: 18px;
  color: #fff;
  padding-right: 25%;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Mukta", sans-serif;
}
.my-carousel .carousel-indicators li {
  width: 11px;
  height: 11px;
  background: transparent;
  border: 1.5px solid #fd7e14;
  border-radius: 50%;
}
.my-carousel .carousel-indicators li.active {
  background: #fd7e14;
}
/* END CAROUSEL CSS */

/* SERVICES CSS */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.title-big {
  font-size: 38px;
  line-height: 45px;
  font-weight: 700;
}
.radius-image {
  border-radius: 6px;
}
.left-img img {
  transition: 0.3s ease;
}

.left-img img:hover {
  transform: translateY(-10px);
  transition: 0.3s ease;
}
/* END SERVICES CSS */

/* PRODUCTS CSS */
.products {
  background: rgba(237, 233, 225, 0.35);
}

.products .feature-gd h3 a {
  font-size: 22px;
  line-height: 28px;
  color: #3f3a64;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}
.products .float-lt.feature-gd p {
  line-height: 26px;
}

.products .features h3 a:hover {
  color: #ce6d06;
}

.products .float-lt.feature-gd {
  padding: 35px 30px;
  background-color: #fff;
  border-radius: 0 0 6px;
  text-align: left;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
}

.products .float-top img {
  border-radius: 6px 6px 0 0;
}
.img-products {
  max-width: 100%;
  display: block;
}
/* END PRODUCTS CSS */
.area-box i.fa {
  font-size: 30px;
  color: #ce6d06;
  margin-bottom: 25px;
}
.gallery {
  background: rgba(237, 233, 225, 0.35);
}

ul.gallery__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

ul.gallery__items li {
  list-style: none;
}

/*-- portfolio --*/
.portfolio {
  overflow: hidden;
  position: relative;
}

.portfolio__content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(1, 28, 37, 0);
  right: 0;
  transition: all 400ms ease;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  display: grid;
  align-items: center;
}

.portfolio__content {
  transform: scale3d(0, 0, 1);
}

.portfolio:hover .portfolio__content {
  opacity: 0.8;
  background-color: rgba(1, 28, 37, 0.5);
  transform: scale3d(1, 1, 1);
}

.portfolio:hover .portfolio__text {
  opacity: 1;
  color: #fff;
  transform: translateY(0) scale3d(1, 1, 1);
  transition: transform 400ms ease 380ms;
}

.portfolio .portfolio__text {
  text-align: center;
  opacity: 0;
  transform: translateY(0) scale3d(0, 0, 1);
  transition: transform 400ms ease 280ms;
}

.portfolio__text h3 {
  color: #fff;
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 700;
}

.portfolio__text p {
  color: #eee;
  margin-top: 5px;
}

.portfolio h4 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}

.portfolio:hover .portfolio__text2 {
  opacity: 0;
}
.map iframe {
  width: 100%;
  height: 400px;
}
.contact {
  padding: 4rem 15%;
}
.contact__form__content {
  max-width: 1280px;
  margin: auto;
}
.contact__form__content form {
  display: flex;
  flex-wrap: wrap;
}

.contact__form__control {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
}

.contact__form__control--50 {
  width: 50%;
}

.contact__form__control input[type="text"],
.contact__form__control input[type="email"],
.contact__form__control textarea {
  padding: 10px;
  width: 100%;
}

.contact__form__control input::placeholder {
  font-style: italic;
}
.btn-submit {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  grid-column: 1 / span 2;
  margin: 1rem 0;
  padding: 1rem 31rem;
}
.footer{
    background: rgb(27, 39, 64)
}
.btn-facebook{
    background-color: #3b5998;
}
.btn-twitter{
    background-color: #55acee;
}
.btn-google{
background-color: #dd4b39
}
.btn-instagram{
    background-color: #ac2bac;
}
.footer__content{
    background: rgb(43, 52, 69);
}
.footer__text{
    color: #4169e1;
}
.footer__content p{
color:#17a2b8;
}